force-app/main/default/flows/Omniscript_Step_Chart_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_the_Omniscript_Assistant_Agent</name>
        <label>Call the Omniscript Assistant Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Omniscript_Assistant</actionName>
        <actionType>generateAiAgentResponse</actionType>
        <connector>
            <targetReference>Assign_Conversation_Requerst</targetReference>
        </connector>
        <dataTypeMappings>
            <apexClass>LightningTypes__OmniscriptStepChartAgentCalltheOmniscriptAssistantAgent</apexClass>
            <typeName>U__agentResponseApex</typeName>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>Session_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>Topic:  {!Get_Omniscript_Details.Name}

Evaluate this question from the user:  {!Request}

This is the current state of the JSON:  {!OmniscriptJSON}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ApexClassName</name>
            <value>
                <stringValue>LightningTypes__OmniscriptStepChartAgentCalltheOmniscriptAssistantAgent</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Omniscript_Assistant</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionString>1.1.0</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Conversation_Requerst</name>
        <label>Assign Conversation Requerst</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TempResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_the_Omniscript_Assistant_Agent.structuredAgentResponse.AgentOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_the_Omniscript_Assistant_Agent.sessionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Request</name>
        <label>Assign Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TempResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I am an Assistant that can help as you go through your application.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Response</name>
        <label>Assign Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Response</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempResponse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Session_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Session_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_Actions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Actions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Agentforce_Actions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agentforce_Actions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Overview</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_Request</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Request</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_to_Omni_Process_Id</name>
        <label>Set to Omni Process Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SearchOmniscriptId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OmniProcessId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Omniscript_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_To_Omniscript_Id</name>
        <label>Set To Omniscript Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SearchOmniscriptId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OmniscriptId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Omniscript_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>New_or_Existing_Session</name>
        <label>New or Existing Session?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Call_the_Omniscript_Assistant_Agent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Request</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <description>When the Omniscript runs in the Designer omniscriptId is used.  When it runs in the real world it is omniProcessId</description>
        <name>Omniscript_Id_Or_OmniProcess_Id</name>
        <label>Omniscript Id Or OmniProcess Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_to_Omni_Process_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Use_Omniscript_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OmniscriptId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0jN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_To_Omniscript_Id</targetReference>
            </connector>
            <label>Use Omniscript Id</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OmniProcessId</name>
        <dataType>String</dataType>
        <expression>MID(
    {!OmniscriptJSON},
    FIND(&apos;&quot;omniProcessId&quot;:&quot;&apos;, {!OmniscriptJSON}) + LEN(&apos;&quot;omniProcessId&quot;:&quot;&apos;),
    FIND(&apos;&quot;,&quot;&apos;, {!OmniscriptJSON}, FIND(&apos;&quot;omniProcessId&quot;:&quot;&apos;, {!OmniscriptJSON}) + LEN(&apos;&quot;omniProcessId&quot;:&quot;&apos;)) - (FIND(&apos;&quot;omniProcessId&quot;:&quot;&apos;, {!OmniscriptJSON}) + LEN(&apos;&quot;omniProcessId&quot;:&quot;&apos;))
)</expression>
    </formulas>
    <formulas>
        <name>OmniscriptId</name>
        <dataType>String</dataType>
        <expression>MID(
    {!OmniscriptJSON},
    FIND(&apos;&quot;omniscriptId&quot;:&quot;&apos;, {!OmniscriptJSON}) + LEN(&apos;&quot;omniscriptId&quot;:&quot;&apos;),
    FIND(&apos;&quot;,&quot;&apos;, {!OmniscriptJSON}, FIND(&apos;&quot;omniscriptId&quot;:&quot;&apos;, {!OmniscriptJSON}) + LEN(&apos;&quot;omniscriptId&quot;:&quot;&apos;)) - (FIND(&apos;&quot;omniscriptId&quot;:&quot;&apos;, {!OmniscriptJSON}) + LEN(&apos;&quot;omniscriptId&quot;:&quot;&apos;))
)</expression>
    </formulas>
    <interviewLabel>Omniscript Step Chart Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Omniscript Step Chart Agent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Omniscript_Details</name>
        <label>Get Omniscript Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_or_Existing_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SearchOmniscriptId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OmniProcess</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Omniscript_Id_Or_OmniProcess_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Record_Overview</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>recordId: {!recordId}
contact Id: 003Ho000025vd1ZIAQ
Look at suggestedUserActions and suggestedAgentActions.
Look at recordOverview for context.</text>
    </textTemplates>
    <textTemplates>
        <name>UI_Placeholder</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{&quot;type&quot;:&quot;Text&quot;,&quot;value&quot;:&quot;{\&quot;conciseResponse\&quot;: \&quot;You are in an Omniscript\&quot;,\n\&quot;fullResponse\&quot;: \&quot;Case #0332934 is escalated and has been open for 4 days. Due to shipment adjustments. \&quot;,\n\&quot;suggestedUserActions\&quot;: [{\&quot;id\&quot;: \&quot;userAction1\&quot;, \&quot;label\&quot;: \&quot;Merge Cases\&quot;, \&quot;actionDetails\&quot;: {\&quot;flowApiName\&quot;: \&quot;Flow_API_Name_For_Password_Reset\&quot;,\&quot;inputVariables\&quot;: [{ \&quot;name\&quot;: \&quot;recordId\&quot;, \&quot;type\&quot;: \&quot;String\&quot;, \&quot;value\&quot;: \&quot;recordId\&quot; }]}}, {\&quot;id\&quot;: \&quot;userAction2\&quot;, \&quot;label\&quot;: \&quot;Summarize History\&quot;, \&quot;actionDetails\&quot;: {\&quot;flowApiName\&quot;: \&quot;Support_Request\&quot;, \&quot;inputVariables\&quot;: [{ \&quot;name\&quot;: \&quot;recordId\&quot;, \&quot;type\&quot;: \&quot;String\&quot;, \&quot;value\&quot;: \&quot;recordId\&quot; }]}}],\n\&quot;suggestedAgentActions\&quot;: [{\&quot;id\&quot;: \&quot;agentAction1\&quot;, \&quot;label\&quot;: \&quot;Send Outreach\&quot;,\&quot;actionDetails\&quot;: {\&quot;promptText\&quot;: \&quot;I am very sorry for the inconvenience this has caused.\&quot;}},{\&quot;id\&quot;: \&quot;agentAction2\&quot;, \&quot;label\&quot;: \&quot;Update Account Team\&quot;, \&quot;actionDetails\&quot;: {\&quot;promptText\&quot;: \&quot;What is your return policy?\&quot;}}],\n\&quot;executedAgentActions\&quot;: [{\&quot;id\&quot;: \&quot;autoAction1\&quot;, \&quot;description\&quot;: \&quot;Flag for internal account team drafted.\&quot;}],\n\&quot;DetailRequired\&quot;: true}&quot;}</text>
    </textTemplates>
    <variables>
        <name>ActiveVersionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Agent_Resposne</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Agentforce_Actions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Final_Request</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Initial_Request</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OmniscriptJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Request</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SearchOmniscriptId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Session_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TempResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Actions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
